*.o
*~
*.gc??
lcov.info
coverage
gmon.out
callgrind.out.*
*.swp
.dirstamp
check-data-install.stamp
stamp-h?
*.log
*.tors
*.trs
*.tar.gz
*.deb
*.rpm
*.tmp

/ztk
/zpub
/zsub
/zdealer
/zrouter
/zpush
/zpull
/zreq
/zrep

t/zpush

man/*.1
man/*.2
man/*.3
man/*.4
man/*.5
man/*.6
man/*.7
man/*.8
man/*.9

config.h

local
.commit

.deps
config.log
config.status
Makefile.in
config.h.in
Makefile
configure
autom4te.cache
aclocal.m4
build/
!build/as-compiler-flag.m4
!build/coverage.m4

dev/

t/tmp

*.debhelper.log
*.debhelper
*.substvars
debian/ztk/
debian/files
debian/tmp/
